<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>1Source Ledger - Contracts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/1source.min.js"></script>
    <script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(loadContracts);

      var parties = '[(${parties})]';
      function loadContracts() {
    	loadData(parties, '/v1/ledger/contracts', contractData, contractParams);
      }
    </script>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-purple w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>1Source Ledger</b><span sec:authorize="isAuthenticated()"><div>Hello, <span sec:authentication="name"></span></h3></span>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="/summary" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Summary</a> 
    <a href="/parties" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Parties</a> 
    <a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a> 
    <a href="/agreements" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Agreements</a> 
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contracts</a>
    <a href="/rerates" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rerates</a>
    <span sec:authorize="isAuthenticated()"><a href="/user-logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a></span>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-purple w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-purple w3-margin-right" onclick="w3_open()">☰</a>
  <span>1Source Ledger</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Contracts -->
  <div class="w3-container" id="contact" style="margin-top:45px">
    <h1 class="w3-xxxlarge w3-text-purple" style="margin-top:45px"><b>Contracts.</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">
  	<div id="filter_div" style="height:35px;"><form>Counterparty <select id="sCounterparty">
  	<option value="_">All Parties</option>
  	</select>&nbsp;&nbsp;
  	Since <select id="sTimeSince">
  	<option value="_" selected>Start of Day</option>
  	<option value="5">5 Minutes</option>
  	<option value="15">15 Minutes</option>
  	<option value="60">1 Hour</option>
  	<option value="180">3 Hours</option>
  	<option value="10080">1 Week</option>
  	</select>&nbsp;&nbsp;
  	With Status <select id="sStatus">
  	<option value="_" selected>All</option>
  	<option value="PROPOSED">Proposed</option>
  	<option value="APPROVED">Approved</option>
  	<option value="DECLINED">Declined</option>
  	<option value="CANCELED">Canceled</option>
  	</select>&nbsp;<input type="button" value="Submit" onclick="loadContracts();"></form></div>
    <div id="table_div" style="height:70vh;"></div>
  </div>

  <!-- Modal for json display on click-->
  <div id="modal01" class="w3-modal w3-white" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption"></p>
      <pre id="jsonobj"></pre>
    </div>
  </div>

  <!-- Modal for agreement form display on click-->
  <div id="modal02" class="w3-modal w3-white" style="padding-top:0">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright" onclick="$('#modal02').hide();">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption02"></p>
      <form id="createAcceptForm">
      <table>
      	<tr><td><b>My Party:</b></td><td><p style="margin: 1px;" id="cMyParty"></p></td></tr>
      	<tr><td><b>Party Role:</b></td><td><p style="margin: 1px;" id="cPartyRole"></p></td></tr>
      	<tr><td><b>Counterparty:</b></td><td><p style="margin: 1px;" id="cCounterparty"></p></td></tr>
      	<tr><td><b>Settlement BIC:</b></td><td><input type="text" name="settlmentBic" id="tSettlmentBic" maxlength="120" style="width:120px;" value="XXXXXXXX"></td></tr>
      	<tr><td><b>Local Agent BIC:</b></td><td><input type="text" name="localAgentBic" id="tLocalAgentBic" maxlength="120" style="width:120px;" value="YYYYYYYY"></td></tr>
      	<tr><td><b>Local Agent Name:</b></td><td><input type="text" name="localAgentName" id="tLocalAgentName" maxlength="140" style="width:140px;" value="ZZZ Clearing"></td></tr>
      	<tr><td><b>Local Agent Account:</b></td><td><input type="text" name="localAgentAcct" id="tLocalAgentAcct" maxlength="100" style="width:100px;" value="2468999"></td></tr>
      	<tr><td><b>Local Market Field 1 Name:</b></td><td><input type="text" name="localFieldName1" id="tLocalFieldName1" maxlength="100" style="width:100px;" value="DTCYUS00"></td></tr>
      	<tr><td><b>Local Market Field 1 Value:</b></td><td><input type="text" name="localFieldValue1" id="tLocalFieldValue1" maxlength="100" style="width:100px;" value="00001"></td></tr>
      	<tr><td><b>Local Market Field 2 Name:</b></td><td><input type="text" name="localFieldName2" id="tLocalFieldName2" maxlength="100" style="width:100px;" value="DVPCCY"></td></tr>
      	<tr><td><b>Local Market Field 2 Value:</b></td><td><input type="text" name="localFieldValue2" id="tLocalFieldValue2" maxlength="100" style="width:100px;" value="USD"></td></tr>
      	<tr><td colspan="2"><input type="submit" value="Approve Contract"></td></tr>
      </table>
<input type="hidden" name="myParty" id="hMyParty"> 
<input type="hidden" name="counterparty" id="hCounterparty"> 
<input type="hidden" name="partyRole" id="hPartyRole"> 
      <input type="hidden" name="contractId" id="hContractId">
      </form>
    </div>
  </div>

  <!-- Modal for agreement form display on click-->
  <div id="modal03" class="w3-modal w3-white" style="padding-top:0">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright" onclick="$('#modal03').hide();">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption03"></p>
      <form id="createRerateForm">
      <table>
      	<tr><td><b>Parties</b></td><td colspan="2">&nbsp;</td></tr>
      	<tr><td>&nbsp;</td><td><b>My Party:</b></td><td><p style="margin: 1px;" id="rcMyParty"></p></td></tr>
      	<tr><td>&nbsp;</td><td><b>Party Role:</b></td><td><p style="margin: 1px;" id="rcPartyRole"></p></td></tr>
      	<tr><td>&nbsp;</td><td><b>Counterparty:</b></td><td><p style="margin: 1px;" id="rcCounterparty"></p></td></tr>
      	<tr><td><b>Instrument</b></td><td colspan="2">&nbsp;</td></tr>
      	<tr><td>&nbsp;</td><td><b>Name:</b></td><td><span id="rcName"></span></td></tr>
      	<tr><td>&nbsp;</td><td><b>Quantity:</b></td><td><span id="rcQuantity"></span></td></tr>
      	<tr><td><b>Current Rate</b></td><td colspan="2">&nbsp;</td></tr>
      	<tr><td>&nbsp;</td><td><b>Rate Type:</b></td><td><p style="margin: 1px;" id="rcCurrentRateType"></p></td></tr>
      	<tr><td>&nbsp;</td><td><b>Rate (%):</b></td><td><p style="margin: 1px;" id="rcCurrentRate"></p></td></tr>
      	<tr><td>&nbsp;</td><td><b>Benchmark:</b></td><td><p style="margin: 1px;" id="rcCurrentRateBenchmark"></p></td></tr>
      	<tr><td>&nbsp;</td><td><b>Benchmark Rate (%):</b></td><td><p style="margin: 1px;" id="rcCurrentRateBenchmarkVal"></p></td></tr>
      	<tr><td><b>Proposed Rate</b></td><td colspan="2">&nbsp;</td></tr>
      	<tr><td>&nbsp;</td><td><b>Rate Type:</b></td><td><select name="rateType" id="rsProposedRateType" onchange="toggleRSBenchmark();"><option value="RFL">Rebate Floating<option value="RFI">Rebate Fixed<option value="FEE">Fee</select></td></tr>
      	<tr><td>&nbsp;</td><td><b>Rate (%):</b></td><td><input type="text" name="rate" id="rtProposedRate"></td></tr>
      	<tr><td>&nbsp;</td><td><b>Benchmark:</b></td><td><select name="benchmark" id="rsProposedBenchmark"><option value="OBFR">OBFR<option value="SOFR">SOFR<option value="EFFR">EFFR<option value="TGCR">TGCR<option value="BGCR">BGCR</select></td></tr>
      	<tr><td>&nbsp;</td><td><b>Benchmark Rate (%):</b></td><td><input type="text" name="benchmarkRate" id="rtProposedBenchmarkRate"></td></tr>
      	<tr><td>&nbsp;</td><td colspan="2"><input type="submit"></td></tr>
      </table>
<input type="hidden" name="myParty" id="rhMyParty"> 
<input type="hidden" name="counterparty" id="rhCounterparty"> 
<input type="hidden" name="partyRole" id="rhPartyRole"> 
      <input type="hidden" name="contractId" id="rhContractId">
      </form>
    </div>
  </div>

<div id="cDialog" title="Updating Contract" style='display:none;'><div id="cDialogText">Waiting for ledger response...</div></div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>
<script>
$(function() {
	  loadPartylist('sCounterparty', parties);
	  toggleRSBenchmark();
	  $('#createAcceptForm').on("submit", function(e) {
		    e.preventDefault(); // cancel the actual submit
			$('#modal02').hide();
			validateAccept($(this));
		  });	  
	  $('#createRerateForm').on("submit", function(e) {
		    e.preventDefault(); // cancel the actual submit
			$('#modal03').hide();
			validateRerateProposal($(this));
		  });	  
	  setTimeout(ping, 1000*30);
	});
	
function toggleRSBenchmark() {
	var rateType = $('#rsProposedRateType').val();
	if (rateType == 'RFI' || rateType == 'FEE') {
		$('#rsProposedBenchmark').prop('disabled', 'disabled');
	} else {
		$('#rsProposedBenchmark').prop('disabled', false);
	}
}

</script>

</body>
</html>
