<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>1Source Ledger - Contracts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(loadContracts);

      var authtoken = '[[${authtoken}]]';
      var table;
      var data;
      //test
      function loadContracts() {

        table = new google.visualization.Table(document.getElementById('table_div'));
        google.visualization.events.addListener(table, 'page', pageTable);
        google.visualization.events.addListener(table, 'select', rowClick);
        
		table.clearChart();

      	var params = {'noCache': new Date().getTime()};
      	var eventType = $("#sEventType").val();
      	if (eventType != '_') {
      		params['eventType'] = eventType;
      	}
      	params['size'] = 1000;
      	
      	$.ajax({
      	  type: 'GET',
      	  url: 'http://demoapi.1sourceeq.com/v1/ledger/contracts',
      	  headers: {
            'Authorization':'Bearer ' + authtoken,
		        'Content-Type':'application/json'
    			},
      	  data: params,
      	  async: true,
      	  success: function(j) {
        		data = new google.visualization.DataTable();
        		data.addColumn('string', 'Contract ID');
        		data.addColumn('datetime', 'Last Update');
    		    data.addColumn('string', 'Status');
    		    data.addColumn('string', 'Ticker');
		        data.addColumn('string', 'Cusip');
        		data.addColumn('number', 'Rate');
        		data.addColumn('number', 'Quantity');
        		data.addColumn('number', 'Value');
      	
      	    for (var i=0; i < j.length; i++) {
	      		  data.addRow([j[i].contractId
	      			  , new Date(Date.parse(j[i].lastUpdateDatetime))
      		          , j[i].contractStatus
	      		      , j[i].trade.instrument.ticker
	      		      , j[i].trade.instrument.cusip
	      		      , j[i].trade.rate.rebateBps
	      		      , j[i].trade.quantity
	      		      , j[i].trade.collateral.collateralValue]);
	      	  }
	      		
            table.draw(data, {showRowNumber: true, width: '100%', height: '90%', page: 'enable', pageSize: 10});
      	  }
      	});
      }
      
      function pageTable(p) {
//      	alert(p.page);
      }
    </script>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>1Source Ledger</b><br>Hello, <span th:text="${username}">--name--</span></h3>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a> 
    <a href="/agreements" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Agreements</a> 
    <a href="/#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contracts</a>
    <span th:if="${username}"><a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a></span>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>1Source Ledger</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Contracts -->
  <div class="w3-container" id="contact" style="margin-top:45px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contracts.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div id="table_div" style="height:70vh;"></div>
  </div>

  <!-- Modal for json display on click-->
  <div id="modal01" class="w3-modal w3-white" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption"></p>
      <pre id="jsonobj"></pre>
    </div>
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

//Modal Image Gallery
function rowClick() {
  //document.getElementById("img01").src = element.src;
  var selection = table.getSelection();
  var item = selection[0];
  var uri = data.getFormattedValue(item.row, 0);
  
  $.ajax({
  	  type: 'GET',
  	  url: 'http://demoapi.1sourceeq.com/v1/ledger/contracts/' + uri,
  	  headers: {
        'Authorization':'Bearer ' + authtoken,
	        'Content-Type':'application/json'
			},
  	  async: true,
  	  success: function(j) {
  		  document.getElementById("modal01").style.display = "block";
  		  var captionText = document.getElementById("caption");
  		  captionText.innerHTML = uri;
  		  var jsonObj = document.getElementById("jsonobj");
  		  jsonobj.innerHTML = syntaxHighlight(j);
  	  }
  	});
}

</script>

</body>
</html>
