<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>1Source Ledger Browser</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(loadEvents);

      var lastEventId;
      var authtoken = '[[${authtoken}]]';
      //test
      function loadEvents() {

        var table = new google.visualization.Table(document.getElementById('table_div'));
        google.visualization.events.addListener(table, 'page', pageTable);
        
		table.clearChart();

      	var params = {'noCache': new Date().getTime()};
      	var eventType = $("#sEventType").val();
      	if (eventType != '_') {
      		params['eventType'] = eventType;
      	}
      	params['size'] = 1000;
//      	if (lastEventId) {
//      		params['fromEventId'] = lastEventId;
//      	}
      	
      	$.ajax({
      	  type: 'GET',
      	  url: 'http://demoapi.1sourceeq.com/v1/ledger/events',
      	  headers: {
            'Authorization':'Bearer ' + authtoken,
		        'Content-Type':'application/json'
    			},
      	  data: params,
      	  async: true,
      	  success: function(j) {
      	  	//{eventId: 100000000, eventType: 'TRADE', eventDatetime: '2023-05-08T12:29:39.1819886-04:00', resourceUri: '/v1/ledger/agreements/A1683563379179'}
     
        		var data = new google.visualization.DataTable();
        		data.addColumn('number', 'Event ID');
        		data.addColumn('string', 'Event Type');
    		    data.addColumn('datetime', 'Timestamp');
		        data.addColumn('string', 'URI');
      	
      	    for (var i=0; i < j.length; i++) {
	      		  data.addRow([j[i].eventId, j[i].eventType, new Date(Date.parse(j[i].eventDatetime)), j[i].resourceUri]);
	      		  lastEventId = j[i].eventId;
	      	  }
	      		
            table.draw(data, {showRowNumber: true, width: '100%', height: '90%', page: 'enable', pageSize: 10});
      	  }
      	});
      }
      
      function pageTable(p) {
//      	alert(p.page);
//      	alert(lastEventId);
      }
    </script>
  </head>
  <body>
	<h1>
		Hello, <span th:text="${username}">--name--</span>. <a href="/logout">Logout</a>
	</h1>
  	<div id="filter_div" style="height:35px;"><form>Event Type <select id="sEventType" onchange="loadEvents()">
  	<option value="_">All Events</option>
  	<option value="TRADE">TRADE</option>
  	<option value="TRADE_CANCEL">TRADE_CANCEL</option>
  	<option value="CONTRACT_UPDATE">CONTRACT_UPDATE</option>
  	<option value="CONTRACT_APPROVE">CONTRACT_APPROVE</option>
  	<option value="CONTRACT_CANCEL">CONTRACT_CANCEL</option>
  	<option value="CONTRACT_DECLINE">CONTRACT_DECLINE</option>
  	</select></form></div>
    <div id="table_div" style="height:80vh;"></div>
  </body>
</html>

