<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>1Source Ledger - Parties</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
	<style>
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: "Poppins", sans-serif
		}

		body {
			font-size: 16px;
		}

		.w3-half img {
			margin-bottom: -6px;
			margin-top: 16px;
			opacity: 0.8;
			cursor: pointer
		}

		.w3-half img:hover {
			opacity: 1
		}

		pre {
			outline: 1px solid #ccc;
			padding: 5px;
			margin: 5px;
		}

		.string {
			color: green;
		}

		.number {
			color: darkorange;
		}

		.boolean {
			color: blue;
		}

		.null {
			color: magenta;
		}

		.key {
			color: green;
		}
	</style>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/1source.min.js"></script>
	<script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['table']});
		google.charts.setOnLoadCallback(loadParties);

		var parties = '[(${parties})]';
		function loadParties() {
			loadData(parties, '/v1/ledger/parties', partyData, partyParams);
		}
	</script>
</head>

<body>

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-orange w3-collapse w3-top w3-large w3-padding"
		style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
			style="width:100%;font-size:22px">Close Menu</a>
		<div class="w3-container">
			<h3 class="w3-padding-64"><b>1Source Ledger</b><span sec:authorize="isAuthenticated()">
					<div>Hello, <span sec:authentication="name"></span></h3></span>
		</div>
		<div class="w3-bar-block">
			<a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
			<a href="/summary" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Summary</a>
			<a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Parties</a>
			<a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a>
			<a href="/agreements" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Agreements</a>
			<a href="/contracts" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contracts</a>
			<a href="/rerates" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rerates</a>
			<span sec:authorize="isAuthenticated()"><a href="/user-logout" onclick="w3_close()"
					class="w3-bar-item w3-button w3-hover-white">Logout</a></span>
		</div>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-container w3-top w3-hide-large w3-orange w3-xlarge w3-padding">
		<a href="javascript:void(0)" class="w3-button w3-orange w3-margin-right" onclick="w3_open()">☰</a>
		<span>1Source Ledger</span>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
		id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:340px;margin-right:40px">

		<!-- Parties -->
		<div class="w3-container" id="contact" style="margin-top:45px">
			<h1 class="w3-xxxlarge w3-text-orange" style="margin-top:45px"><b>Parties.</b></h1>
			<hr style="width:50px;border:5px solid orange" class="w3-round">
			<div id="filter_div" style="height:35px;min-width:1000px;">
			</div>
			<div id="table_div"></div>
		</div>

		<!-- Modal for json display on click-->
		<div id="modal01" class="w3-modal">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container w3-orange">
					<span onclick="$('#modal01').hide();" class="w3-button w3-display-topright">&times;</span>
					<h2>Inspect JSON</h2>
				</header>
				<div class="w3-container" style="padding:5px;overflow-y:scroll;height:400px;">
					<p id="caption"></p>
					<pre id="jsonobj"></pre>
				</div>
				<footer class="w3-container w3-orange">
					<p class="w3-right"><input type="submit" value="close" onclick="$('#modal01').hide();"></p>
				</footer>
			</div>
		</div>
		
		<div id="modal02" class="w3-modal">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container w3-orange">
					<span onclick="$('#modal02').hide();" class="w3-button w3-display-topright">&times;</span>
					<h2>Propose Contract</h2>
				</header>
				<div class="w3-container" style="padding:5px;overflow-y:scroll;height:400px;">
					<form id="createProposalForm">
						<table>
							<tr>
								<td><b>Venue</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Venue Party:</b></td>
								<td><span id="cVenueParty">1Source_Demo_Party</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Venue Name:</b></td>
								<td><span id="cVenueName">1Source Demo UI</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Venue Reference Key:</b></td>
								<td><span id="cVenueRefKey"></span></td>
							</tr>
							<tr>
								<td><b>Parties</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>My Party:</b></td>
								<td><select name="myParty" id="sMyParty" style="width:200px;"></select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Party Role:</b></td>
								<td><select name="partyRole" id="sPartyRole" style="width:200px;">
										<option value="BORROWER">Borrowing From
										<option value="LENDER">Lending To
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Counterparty:</b></td>
								<td>
									<span id="cCounterparty"></span>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Internal Reference ID:</b></td>
								<td><input type="text" name="internalRefId" id="tInternalRefId" value="REF123456"></td>
							</tr>
							<tr>
								<td><b>Instrument</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Name:</b></td>
								<td><select name="instrument" id="sInstrument" style="width:240px;"></select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Quantity:</b></td>
								<td><input type="text" name="quantity" id="tQuantity" value="5000"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Price:</b></td>
								<td><input type="text" name="price" id="tPrice" value="50.5"></td>
							</tr>
							<tr>
								<td><b>Rate</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate Type:</b></td>
								<td><select name="rateType" id="sRateType" onchange="toggleBenchmark();">
										<option value="RFL">Rebate Floating
										<option value="RFI">Rebate Fixed
										<option value="FEE">Fee
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate (%):</b></td>
								<td><input type="text" name="rate" id="tRate" value="0.15"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Benchmark:</b></td>
								<td><select name="benchmark" id="sBenchmark">
										<option value="OBFR">OBFR
										<option value="SOFR">SOFR
										<option value="EFFR">EFFR
										<option value="TGCR">TGCR
										<option value="BGCR">BGCR
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Auto Rerate:</b></td>
								<td><select name="autoRerate" id="sAutoRerate" onchange="toggleAutoRerate();">
										<option value="YES">YES
										<option value="NO">NO
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Base Rate (%):</b></td>
								<td><input type="text" name="baseRate" id="tBaseRate" value=""></td>
							</tr>
							<tr>
								<td><b>Settlement</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Settlement Status:</b></td>
								<td><select name="settlementStatus" id="sSettlementStatus">
										<option value="NONE" selected>NONE
										<option value="PENDING" selected>PENDING
										<option value="SETTLED">SETTLED
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Internal Account Cd:</b></td>
								<td><input type="text" name="internalAcctCd" id="tInternalAcctCd" maxlength="120"
										style="width:120px;" value="BOX1"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Settlement BIC:</b></td>
								<td><select name="settlmentBic" id="sSettlmentBic" onchange="toggleClearing();">
										<option value="DTCYUS33" selected>DTCYUS33
										<option value="CDSLCATT">CDSLCATT
									</select></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Local Agent BIC:</b></td>
								<td><input type="text" name="localAgentBic" id="tLocalAgentBic" maxlength="120"
										style="width:120px;" value="YYYYYYYY"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Local Agent Name:</b></td>
								<td><input type="text" name="localAgentName" id="tLocalAgentName" maxlength="140"
										style="width:140px;" value="ZZZ Clearing"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Local Agent Account:</b></td>
								<td><input type="text" name="localAgentAcct" id="tLocalAgentAcct" maxlength="100"
										style="width:100px;" value="2468999"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>DTC Participant Number:</b></td>
								<td><input type="text" name="dtcParticipantNumber" id="tDtcParticipantNumber" maxlength="100"
										style="width:100px;" value="0000"></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>CDS Customer Unit ID:</b></td>
								<td><input type="text" name="cdsCustomerUnitId" id="tCdsCustomerUnitId" maxlength="100"
										style="width:100px;" value="1111"></td>
							</tr>
						</table>
						<input type="hidden" name="counterparty" id="hCounterparty">
					</form>
				</div>
				<footer class="w3-container w3-orange">
					<p class="w3-right"><input type="submit" value="submit"
							onclick="$('#createProposalForm').submit();">&nbsp;<input type="submit" value="cancel"
							onclick="$('#modal02').hide();"></p>
				</footer>
			</div>
		</div>

		<div id="cDialog" title="Submit Agreement" style='display:none;'>
			<div id="cDialogText">Waiting for ledger response...</div>
		</div>
		<!-- End page content -->
	</div>

	<!-- W3.CSS Container -->
	<div class="w3-light-grey w3-container w3-padding-8" style="padding-right:58px">
		<p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS"
				target="_blank" rel="noopener" class="w3-hover-opacity">w3.css</a></p>
	</div>

	<script>
		$(function () {
			expandToWindow($('#table_div'), 305);
			addEventListener("resize", (event) => {expandToWindow($('#table_div'), 305);});
			loadInstrumentlist();
			toggleBenchmark();
			toggleClearing();
			$('#createProposalForm').on("submit", function (e) {
				e.preventDefault(); // cancel the actual submit
				$('#modal02').hide();
				validateProposal($(this));
			});
			setTimeout(ping, 1000 * 30);
		});
		function toggleBenchmark() {
			var rateType = $('#sRateType').val();
			if (rateType == 'RFI' || rateType == 'FEE') {
				$('#sBenchmark').prop('disabled', 'disabled');
				$('#sAutoRerate').prop('disabled', 'disabled');
				$('#tBaseRate').prop('disabled', 'disabled');
			} else {
				$('#sBenchmark').prop('disabled', false);
				$('#sAutoRerate').prop('disabled', false);
				toggleAutoRerate();
			}
		}
		function toggleAutoRerate() {
			var autoRerate = $('#sAutoRerate').val();
			if (autoRerate == 'YES') {
				$('#tBaseRate').prop('disabled', 'disabled');
			} else {
				$('#tBaseRate').prop('disabled', false);
			}
		}
		function toggleClearing() {
			var clearing = $('#sSettlmentBic').val();
			if (clearing == 'DTCYUS33') {
				$('#tDtcParticipantNumber').prop('disabled', false);
				$('#tCdsCustomerUnitId').prop('disabled', 'disabled');
			} else {
				$('#tDtcParticipantNumber').prop('disabled', 'disabled');
				$('#tCdsCustomerUnitId').prop('disabled', false);
			}
		}
	</script>

</body>

</html>