<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>1Source Ledger - Parties</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: green; }
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(loadParties);

      var parties = '[(${parties})]';
      function loadParties() {
    	loadData(parties, '/v1/ledger/parties', partyData, partyParams);
      }
    </script>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-orange w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>1Source Ledger</b><span sec:authorize="isAuthenticated()"><div>Hello, <span sec:authentication="name"></span></h3></span>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Parties</a> 
    <a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a> 
    <a href="/agreements" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Agreements</a> 
    <a href="/contracts" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contracts</a>
    <span sec:authorize="isAuthenticated()"><a href="/user-logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a></span>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-orange w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-orange w3-margin-right" onclick="w3_open()">☰</a>
  <span>1Source Ledger</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Parties -->
  <div class="w3-container" id="contact" style="margin-top:45px">
    <h1 class="w3-xxxlarge w3-text-orange" style="margin-top:45px"><b>Parties.</b></h1>
    <hr style="width:50px;border:5px solid orange" class="w3-round">
    <div id="table_div" style="height:70vh;"></div>
  </div>

  <!-- Modal for json display on click-->
  <div id="modal01" class="w3-modal w3-white" style="padding-top:0">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright" onclick="$('#modal01').hide();">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption"></p>
      <pre id="jsonobj"></pre>
    </div>
  </div>

  <!-- Modal for agreement form display on click-->
  <div id="modal02" class="w3-modal w3-white" style="padding-top:0">
    <span class="w3-button w3-white w3-xxlarge w3-display-topright" onclick="$('#modal02').hide();">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-transparent w3-padding-64">
      <p id="caption02"></p>
      <form id="createAgreementForm">
      <table>
      	<tr><td><b>My Party:</b></td><td><p id="cMyParty"></p></td></tr>
      	<tr><td><b>Direction:</b></td><td><select name="direction" id="sDirection">
  	<option value="BORROWER">Borrowing From</option>
  	<option value="LENDER">Lending To</option>
  	</select></td></tr>
      	<tr><td><b>Counterparty:</b></td><td><p id="cCounterparty"></p></td></tr>
      	<tr><td><b>Instrument:</b></td><td><input type="text" name="instrument" id="tInstrument" maxlength="100" style="width:140px;"></td></tr>
      	<tr><td><b>Rate:</b></td><td><input type="text" name="rate" id="tRate"></td></tr>
      	<tr><td><b>Quantity:</b></td><td><input type="text" name="quantity" id="tQuantity"></td></tr>
      	<tr><td colspan="2"><input type="submit"></td></tr>
      </table>
<input type="hidden" name="myParty" id="hMyParty"> 
<input type="hidden" name="counterparty" id="hCounterparty"> 

<input 
  type="hidden" 
  th:name="${_csrf.parameterName}" 
  th:value="${_csrf.token}" />
      </form>
    </div>
  </div>

<div id="cDialog" title="Submit Agreement" style='display:none;'><div id="cDialogText">Waiting for ledger response...</div></div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
$(function() {
	  $('#createAgreementForm').on("submit", function(e) {
	    e.preventDefault(); // cancel the actual submit
		$('#modal02').hide();
		validateAgreement($(this));
	  });
	  
	    var autoItemSelected = false;
	    $( "#tInstrument" ).autocomplete({
	        source: function( request, response ) {
	            $.ajax({
	                url: "/util/instruments",
	                dataType: "json",
	                data: {
	                    q: request.term.replace(/\'/g, "%27"),
	                    vNoCache: new Date().getTime()
	                },
	                success: function( data ) {
	                    autoItemSelected = false;
	                    response( $.map( data, function( item ) {
	                        return {
	                            label: item.label,
	                            value: item.value,
	                            id: item.id
	                        }
	                    }));
	                }
	            });
	        },
	        minLength: 1,
	        select: function( event, ui ) {
	            autoItemSelected = true;
	            $('#tInstrument').val(ui.item.value);
	        },
	        search: function(event, ui) {
	            
	        }
	    });

	    $("#tInstrument").keydown(function(event) {
	        if (event.keyCode == 13) {
	            if (!autoItemSelected) {
	                $("#tInstrument").blur();
	                $("#tInstrument").autocomplete('close');
	            }
	            $("#tInstrument").focus();
	            $("#tInstrument").select();
	            autoItemSelected = false;
	            return false;
	        }
	    });
});
</script>

</body>
</html>
