<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>1Source Ledger Browser</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>1Source Ledger</h1>
		</div>
		<div>
			<p>Distributed ledger technology (DLT) continues to find a foothold in the securities finance space. To that end, EquiLend launched a distributed ledger initiative named 1Source that will revolutionize how counterparties manage securities finance transactions. We feel the data privacy and security provided by a properly architected shared ledger solves several pain points in the industry.</p>

			<h2>Explore</h2>
			<div class="well">
				<b>Browse the ledger: </b><a th:href="@{/ledger}">ledger login</a>
			</div>
		</div>
	</div>
	<!-- container -->

</body>
</html>
