<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>1Source Ledger - Rerates</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
	<style>
		body,
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: "Poppins", sans-serif
		}

		body {
			font-size: 16px;
		}

		.w3-half img {
			margin-bottom: -6px;
			margin-top: 16px;
			opacity: 0.8;
			cursor: pointer
		}

		.w3-half img:hover {
			opacity: 1
		}

		pre {
			outline: 1px solid #ccc;
			padding: 5px;
			margin: 5px;
		}

		.string {
			color: green;
		}

		.number {
			color: darkorange;
		}

		.boolean {
			color: blue;
		}

		.null {
			color: magenta;
		}

		.key {
			color: red;
		}
	</style>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/1source.min.js"></script>
	<script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['table']});
		google.charts.setOnLoadCallback(loadRerates);

		var parties = '[(${parties})]';
		function loadRerates() {
			loadData(parties, '/v1/ledger/rerates', rerateData, rerateParams);
		}
	</script>
</head>

<body>

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-brown w3-collapse w3-top w3-large w3-padding"
		style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
			style="width:100%;font-size:22px">Close Menu</a>
		<div class="w3-container">
			<h3 class="w3-padding-64"><b>1Source Ledger</b><span sec:authorize="isAuthenticated()">
					<div>Hello, <span sec:authentication="name"></span></h3></span>
		</div>
		<div class="w3-bar-block">
			<a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
			<a href="/summary" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Summary</a>
			<a href="/parties" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Parties</a>
			<a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a>
			<a href="/agreements" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Agreements</a>
			<a href="/contracts" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contracts</a>
			<a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rerates</a>
			<span sec:authorize="isAuthenticated()"><a href="/user-logout" onclick="w3_close()"
					class="w3-bar-item w3-button w3-hover-white">Logout</a></span>
		</div>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-container w3-top w3-hide-large w3-brown w3-xlarge w3-padding">
		<a href="javascript:void(0)" class="w3-button w3-brown w3-margin-right" onclick="w3_open()">☰</a>
		<span>1Source Ledger</span>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
		id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:340px;margin-right:40px">

		<!-- Parties -->
		<div class="w3-container" id="contact" style="margin-top:45px">
			<h1 class="w3-xxxlarge w3-text-brown" style="margin-top:45px"><b>Rerates.</b></h1>
			<hr style="width:50px;border:5px solid brown" class="w3-round">
			<div id="filter_div" style="height:35px;min-width:1000px;">
				<form>Counterparty <select id="sCounterparty">
						<option value="_">All Parties</option>
					</select>&nbsp;&nbsp;
					Since <select id="sTimeSince">
						<option value="_" selected>Start of Day</option>
						<option value="5">5 Minutes</option>
						<option value="15">15 Minutes</option>
						<option value="60">1 Hour</option>
						<option value="180">3 Hours</option>
						<option value="10080">1 Week</option>
					</select>&nbsp;&nbsp;
					With Status <select id="sStatus">
						<option value="_" selected>All</option>
						<option value="PROPOSED">Proposed</option>
						<option value="APPROVED">Approved</option>
						<option value="DECLINED">Declined</option>
						<option value="CANCELED">Canceled</option>
					</select>&nbsp;<input type="button" value="Submit" onclick="loadRerates();"></form>
			</div>
			<div id="table_div" style="height:70vh;"></div>
		</div>

		<!-- Modal for json display on click-->
		<div id="modal01" class="w3-modal">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container w3-brown">
					<span onclick="$('#modal01').hide();" class="w3-button w3-display-topright">&times;</span>
					<h2>Inspect JSON</h2>
				</header>
				<div class="w3-container" style="padding:5px;overflow-y:scroll;height:400px;">
					<p id="caption"></p>
					<pre id="jsonobj"></pre>
				</div>
				<footer class="w3-container w3-brown">
					<p class="w3-right"><input type="submit" value="close" onclick="$('#modal01').hide();"></p>
				</footer>
			</div>
		</div>

		<!-- Modal for agreement form display on click-->
		<div id="modal02" class="w3-modal">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container w3-brown">
					<span onclick="$('#modal02').hide();" class="w3-button w3-display-topright">&times;</span>
					<h2>Approve Rerate</h2>
				</header>
				<div class="w3-container" style="padding:5px;overflow-y:scroll;height:400px;">
					<form id="createRerateAcceptForm">
						<table>
							<tr>
								<td><b>Parties</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>My Party:</b></td>
								<td>
									<p style="margin: 1px;" id="cMyParty"></p>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Party Role:</b></td>
								<td>
									<p style="margin: 1px;" id="cPartyRole"></p>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Counterparty:</b></td>
								<td>
									<p style="margin: 1px;" id="cCounterparty"></p>
								</td>
							</tr>
							<tr>
								<td><b>Instrument</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Name:</b></td>
								<td>
									<p style="margin: 1px;" id="cName"></p>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Quantity:</b></td>
								<td>
									<p style="margin: 1px;" id="cQuantity"></p>
								</td>
							</tr>
							<tr>
								<td><b>Current Rate</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate Type:</b></td>
								<td><span id="cCurrentRateType">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate (%):</b></td>
								<td><span id="cCurrentRatePct"--></span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Benchmark:</b></td>
								<td><span id="cCurrentBenchmark">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Auto Rerate:</b></td>
								<td><span id="cCurrentAutoRerate">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Base Rate (%):</b></td>
								<td><span id="cCurrentBaseRatePct">--</span></td>
							</tr>
							<tr>
								<td><b>Proposed Rate</b></td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate Type:</b></td>
								<td><span id="cProposedRateType">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Rate (%):</b></td>
								<td><span id="cProposedRatePct"--></span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Benchmark:</b></td>
								<td><span id="cProposedBenchmark">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Auto Rerate:</b></td>
								<td><span id="cProposedAutoRerate">--</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><b>Base Rate (%):</b></td>
								<td><span id="cProposedBaseRatePct">--</span></td>
							</tr>
						</table>
						<input type="hidden" name="myParty" id="hMyParty">
						<input type="hidden" name="counterparty" id="hCounterparty">
						<input type="hidden" name="partyRole" id="hPartyRole">
						<input type="hidden" name="contractId" id="hContractId">
						<input type="hidden" name="rerateId" id="hRerateId">
					</form>
				</div>
				<footer class="w3-container w3-brown">
					<p class="w3-right"><input type="submit" value="approve"
							onclick="$('#createRerateAcceptForm').submit();">&nbsp;<input type="submit" value="cancel"
							onclick="$('#modal02').hide();"></p>
				</footer>
			</div>
		</div>

		<div id="cDialog" title="Updating Rerate Contract" style='display:none;'>
			<div id="cDialogText">Waiting for ledger response...</div>
		</div>
		<!-- End page content -->
	</div>

	<!-- W3.CSS Container -->
	<div class="w3-light-grey w3-container w3-padding-8" style="padding-right:58px">
		<p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS"
				target="_blank" class="w3-hover-opacity">w3.css</a></p>
	</div>

	<script>
		$(function () {
			expandToWindow($('#table_div'), 305);
			addEventListener("resize", (event) => {expandToWindow($('#table_div'), 305);});
			loadPartylist('sCounterparty', parties);
			$('#createRerateAcceptForm').on("submit", function (e) {
				e.preventDefault(); // cancel the actual submit
				$('#modal02').hide();
				acceptRerate($(this));
			});
			setTimeout(ping, 1000 * 30);
		});
	</script>

</body>

</html>